@import url(https://fonts.googleapis.com/css2?family=Caveat+Brush);

.page {
    background-color: #FAF3E9;
    padding: 20px;
    display: block;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}
section.author {
    margin-top: -10px;
    background-color: #fdf9f7;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.column.cbox {
    padding: 0.30rem;
    position: relative;
}

.column .ccolumn {
    background-color: #ffffff;
    background-size: cover;
    background-position: bottom;
    border-radius: 755px 15px 225px 10px/10px 625px 10px 255px;
    border: solid 3px $grey-dark;
    color: $grey-dark;
    display: block;
    height: 170px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.column.h-1 .ccolumn {
    height: 270px;
}
.column.h-2 .ccolumn {
    height: 280px;
}
.column.h-3 .ccolumn {
    height: 320px;
}

.column.c-1 .ccolumn {
    border-radius: 10px 625px 10px 255px/755px 15px 225px 10px;
}
.column.c-2 .ccolumn {
    border-radius: 455px 15px 725px 10px/10px 425px 10px 655px;
}

.column .ccolumn blockquote {
    bottom: 0;
    display: block;
    position: absolute;
    width: 80px;
    height: 100%;

    &.p-2-3 {
        left: 50%;
    }

    &.p-2-4 {
        left: 27%;
    }
    &.p-3-4 {
        left: 55%;
    }

    &.p-2-5 {
        left: 22%;
    }
    &.p-3-5 {
        left: 45%;
    }
    &.p-4-5 {
        left: 62%;
    }

    &.p-2-6 {
        left: 17%;
    }
    &.p-3-6 {
        left: 35%;
    }
    &.p-4-6 {
        left: 53%;
    }
    &.p-5-6 {
        left: 68%;
    }

    footer {
        bottom: 4px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        text-align: center;
        line-height: 0px;
    }

    &.bubble {
        p {
            background: white;
            border: 3px solid $grey-dark;
            border-radius: 10px;
            bottom: 100px;
            display: block;
            font-family: 'Caveat Brush', cursive;
            font-size: 1.4rem;
            line-height: 1;
            padding: 3px;
            position: absolute;
            text-align: center;
            width: 100px;
        }
        &.w-1 p {
            width: 120px;
            &.left p {
                left: 25px;
            }
            &.right p {
                right: 25px;
            }
        }
        &.w-2 {
            p {
                width: 150px;
            }
            &.left p {
                left: 20px;
            }
            &.right p {
                right: 20px;
            }
        }

        &.w-3 {
            p {
                width: 180px;
            }
            &.left p {
                left: 15px!important;
            }
            &.right p {
                right: 15px!important;
            }
        }

        &.w-4 {
            p {
                width: 220px;
                font-size: 1.3rem;
            }
            &.left p {
                left: 10px!important;
            }
            &.right p {
                right: 10px!important;
            }
        }
        &.p-1-1, &.w-5 {
            p {
                font-size: 1.2rem;
                width: 280px;
            }
            &.left p {
                left: -4px!important;
            }
            &.right p {
                right: -4px!important;
            }
        }

        &.p-1-1 {
            left: 30%;
            p {
                width: 260px;
            }
            &.left p {
                left: -50px!important;
            }
        }

        footer:after {
            content: '';
            background-image: url("../../images/bubble.svg");
            background-position: bottom;
            bottom: 60px;
            height: 40px;
            position: absolute;
            width: 42px;
        }

        &.lv-1 {
            p {
                bottom: 120px;
            }
            &.left p {
                left: 25px;
            }
            &.right p {
                right: 25px;
            }
            footer:after {
                height: 60px;
            }
        }
        &.lv-2 {
            p {
                bottom: 140px;
            }
            &.left p {
                left: 20px;
            }
            &.right p {
                right: 20px;
            }
            footer:after {
                height: 80px;
            }
        }
        &.lv-2 {
            p {
                bottom: 160px;
            }
            &.left p {
                left: 15px;
            }
            &.right p {
                right: 15px;
            }
            footer:after {
                height: 100px;
            }
        }
        &.lv-3 {
            p {
                bottom: 180px;
            }
            &.left p {
                left: 10px;
            }
            &.right p {
                right: 10px;
            }
            footer:after {
                height: 120px;
            }
        }

        &.think {
            footer:after {
                background-image: url("../../images/bubble-think.svg");
            }
        }

        &.yell {
            p, textarea {
                border-width: 4px;
                text-transform: uppercase;
            }
            footer:after {
                background-image: url("../../images/bubble-yell.svg");
            }
        }

        &.left {
            p {
                left: 35px;
            }

            footer {
                left: 0;

                &:after {
                    left: 70px;
                }
            }
        }

        &.right {
            p {
                right: 35px;
            }

            footer {
                right: 0px;

                &:after {
                    right: 70px;
                    transform: scaleX(-1);
                }
            }
        }
    }
}


.column div blockquote:first-child {
    left: 0;
}
.column div blockquote:last-child {
    right: 0;
}


.comic-title {
    display:flex;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.65);
    text-align: center;
    z-index: 20;
    transition: all .05s ease-out;
}
.comic-title .ctitle {
    background-color: rgba(103, 197, 126, 0.75);
    display: inline-block;
    margin: auto;
    padding: 15px 10px;
    text-align: center;
    transition: all .05s ease-out;
    width: 80%;
}
.comic-title:hover {
    background-color: rgba(255, 255, 255, 0.85);
}
.comic-title:hover .ctitle {
    background-color: rgba(103, 197, 126, 0.85);
}
.comic-title:hover .ctitle {
    padding: 30px 40px;
}
.comic-title .ctitle .title {
    text-transform: capitalize;
}

.column .ccolumn blockquote.bubble.alone {
    left: 0;
    right: 0;
    margin: auto;
    max-width: 70%;
}

.edit-comic {
    float: right;
    margin-top: -40px;
}
