@charset "utf-8";

//$body-line-height: 1;
// Set your brand colors
$green-lightest: #C6F0D1;
$green-light: #94DCA7;
$green: #67c57e;
$green-dark: #42AB5E;
$green-darkest: #259543;

$blue-lightest: #C0E1E8;
$blue-light: #8ABFCB;
$blue: #5A99A8;
$blue-dark: #397E8E;
$blue-darkest: #226A7B;

$gold-lightest: #FFE8D2;
$gold-light: #FFD5AB;
$gold: #FFC285;
$gold-dark: #E59E59;
$gold-darkest: #C77C32;

// Update Bulma's global variables
$primary: $green;
$info: $blue;

$navbar-background-color: $green;
$navbar-height: 3rem;
$navbar-item-img-max-height: 100%;

$tabs-border-bottom-width: 0;

$breadcrumb-item-color: $green;
$breadcrumb-item-hover-color: $green-darkest;
$breadcrumb-item-active-color: $blue;
$breadcrumb-item-separator-color: $blue;

$star-color: $green;
// Import only what you need from Bulma
@import "../../bulma/bulma.sass";

.navbar-item {
  padding: 0px;
}
.tabbar {
  background-color: $green;
  background: linear-gradient(126deg, rgba(103,197,126,0.95) 36%, rgba(90,153,168,0.9) 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 5px 0;
      text-align: center;
      width: 20%;
    }
  }
  img {
    height: 20px;
    width: 20px;
    max-width: 20px;
  }
  span {
    color:#ffffff;
    font-size: 9px;
    font-width: bold;
    display: block;
    text-transform: uppercase;
  }
}

.navbar {
  border-bottom: 4px solid $green-darkest;
  margin-bottom: 10px;
}
.tabs li a {
  border: 1px solid $green;
  border-radius: 7px;
  margin: 0 4px;
}
.tabs li.is-active a {
  border: 1px solid #3ea556;
  color: #4baf63;
  background-color: #fff;
}
.tabs li a:hover {
  background-color: $green-light;
  border: solid 1px $green-dark;
}
.tabs li.is-active a {
  background-color: $white;
}

.tabs li a.login {
  background-color: $green-dark;
  color: $white!important;
}
.tabs li a.register {
  background-color: $gold-darkest;
  color: $white!important;
}
.tabs li a.register:hover {
  background-color: $gold-dark;
}

.navbar-burger span {
  background-color: #fff;
  height: 2px;
  width: 18px;
}
@import "comic.scss";
@import "rating.scss";
@import "persona.scss";
@import "creator.scss";

.icon.is-small svg {
  height: 1em;
  width: 1em;
}
.comics {
  margin-bottom: 20px;
}
.comics .cbox {

}

.comic-infos {
  line-height: 1;
  margin: 4px 4px 0;
}
.image.circle {
  background: $gold-dark;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 420%;
}
.image.circle img {
  display: block;
  height: auto;
  width: 28px;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.more {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background: $green;
  right: 0;
  width: 100px;
  opacity: .85;
}
.more svg {
  transition: all .1s ease-out;
  bottom: 0;
  color: #ffffff;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  height: 50px;
  margin: auto;
}
.more:active svg,
.more:hover svg {
  height: 70px;
}
.more:hover {
  opacity: .7;
}

.title-gold {
  background-color: $gold-dark;
  display: inline-block;
  padding: 5px;
}

.title-green {
  background-color: $green;
  display: inline-block;
  padding: 5px;
}
.page.comics {
  background-color: #fff;
  box-shadow: none;
  padding: 0;
}

.ccbox {
  background: #fffbf5;
  margin-bottom: 2px;
  padding: 5px 5px 10px;
}
.ccbox.odd {
  background: #faf3E9;
}
.opacity .ccolumn {
  opacity: .4;
}