#boommzcreator {
    border: 4px solid #67c57e;
    border-radius: 6px;
    background-color: #b3d6bb;
    text-align: center;
    margin: 10px auto 50px;
    padding: 5px;
    width: 100%;
    max-width: 539px;
}
#persona {
    display: block;
    float: left;
    width: 96px;
    height: 150px;
    border: 1px solid #76a094;
    border-radius: 7px;
    position: relative;
    background-color: #fff;
}

#persona img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    margin: auto;
    top: 0;
}

.trousers {
    z-index: 3;
}
.top {
    z-index: 2;
}
.vest {
    z-index: 4;
}
.eyes {
    z-index: 5;
}
.hair {
    z-index: 6;
}
.hat {
    z-index: 7;
}
#boommzcreator .actions {
    background-color: #ffffff;
    border: solid 1px #76a094;
    border-radius: 7px;
    height: auto;
    padding: 5px;
    position: relative;
    display: inline-block;
}
#boommzcreator .actions-sex {
    float: left;
}
#boommzcreator .actions-main {
    float: none;
    width: auto;
    margin-bottom: 4px;
    display: block;
    margin-left: 100px;
}

#boommzcreator .actions .button {
    padding: 3px;
    overflow: hidden;
}
#boommzcreator .actions .button svg {
    color: $green;
    width: 2em;
}
#boommzcreator .actions .button.on svg {
    color: $green-dark;
}
#boommzcreator .actions .button.on {
    background-color: $green-light;
}
#boommzcreator .actions .button img {
    width: 35px;
    height: 86px;
    position: absolute;
    top: -3px;
}

#boommzcreator .actionsg {
    margin-left: 100px;
    display: block;
    float: none;
    width: auto;
    margin-bottom: 4px;
    text-align: left;
    min-height: 150px;
}
#boommzcreator .actionsg .button {
    height: 41px;
    width: 41px;
    margin: 2px 2px;
}
#boommzcreator .actionsg .button img {
    width: 35px;
    height: 86px;
    top: 1px;
}
#boommzcreator .actionsg.eyes .button img,
#boommzcreator .actionsg.mouth .button img {
    top: -4px;
}
#boommzcreator .sub.hat img,
#boommzcreator .actionsg.hat .button img {
    top: 5px;
}
#boommzcreator .sub.vest img,
#boommzcreator .actionsg.vest .button img,
#boommzcreator .sub.top img,
#boommzcreator .actionsg.top .button img {
    top: -30px;
}
#boommzcreator .sub.trousers img,
#boommzcreator .actionsg.trousers .button img {
    top: -51px;
}

.color div {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.color-0 {
    background-color: #F5CEA4;
}
.color-1 {
    background-color: #A67950;
}
.color-2 {
    background-color: #dc9c4f;
}
.color-3 {
    background-color: #f2c782;
}
.color-4 {
    background-color: #e9da86;
}
.color-5 {
    background-color: #ffe8b5;
}
.color-6 {
    background-color: #e7dbd1;
}
.color-7 {
    background-color: #b1d4f2;
}
.color-8 {
    background-color: #f7bcc6;
}
.color-9 {
    background-color: #ffb19a;
}
.color-10 {
    background-color: #a1e086;
}
.color-11 {
    background-color: #eff09b;
}