.docker/data/*
.idea
/vendor/
/var/
/.env
/.env.test

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/public/bundles/
/node_modules/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/public/persona/
/public/decor/
/public/p/
/public/dump_boumz.sql
