{% block page_widget %}
    {#<div class="field">
        {{ form_label(form.title, 'Page title', {'label_attr': {'class': 'label is-small'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'input is-small'}}) }}
    </div>#}
    {% set total = 0 %}
    {% set nbBox = 0 %}

    {% for box in form.boxes %}

        {% set total = total+box.vars.value.size|nbSize %}
        {% set nbBox = nbBox +1 %}
        {{ form_row(box) }}

    {% endfor %}

{% endblock %}