<blockquote
        class="bubble right "
        id="comic_pages___NUMPAGE___boxes___NUMBOX___bubbles___NUMBUBBLE__"
        style="">
    <textarea id="comic_pages___NUMPAGE___boxes___NUMBOX___bubbles___NUMBUBBLE___text" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][bubbles][__NUMBUBBLE__][text]" placeholder="Ecris ici !" class="autoExpand fs-18" rows="1" data-min-rows="1"></textarea>
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___bubbles___NUMBUBBLE___x" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][bubbles][__NUMBUBBLE__][x]" />
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___bubbles___NUMBUBBLE___y" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][bubbles][__NUMBUBBLE__][y]" />
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___bubbles___NUMBUBBLE___orientation" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][bubbles][__NUMBUBBLE__][orientation]" />
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___bubbles___NUMBUBBLE___persona" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][bubbles][__NUMBUBBLE__][persona]" />
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___bubbles___NUMBUBBLE___style" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][bubbles][__NUMBUBBLE__][style]" />
    <footer>
        <img src="/persona/stars/donald-trump.png"/>
        <span class="removeBubble icon is-small">{% include "svg/bubble_remove.html.twig" %}</span>
    </footer>
</blockquote>
