{% spaceless %}
<div class="column writable alone cbox is-one-third h-1"
     id="comic_pages___NUMPAGE___boxes___NUMBOX__"
     data-bubble-form="">
    <div class="ccolumn">
    </div>
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___background" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][background]" class="bg" />
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___orderBox" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][orderBox]" class="orderBox" />
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___size" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][size]" />
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___level" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][level]" class="levelBox" />
    <input type="hidden" id="comic_pages___NUMPAGE___boxes___NUMBOX___height" name="comic[pages][__NUMPAGE__][boxes][__NUMBOX__][height]" />
</div>
{% endspaceless %}
