{% extends "layout.html.twig" %}

{% block body %}
    {% for comic in comics %}
        <a href="{{ url('comic', comic.routeParams) }}">{{ comic.title }}</a><br />
    {% endfor %}
{% endblock body %}