{% extends "layout.html.twig" %}
{% block title %}Toutes les BDs sont sur Boomz!{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            <li class="is-active" aria-current="page"><a href="#">{% trans %}Toutes les BDs{% endtrans %}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1 class="title">Toutes les BDs</h1>
    <section class="page comics">
        <div class="columns is-multiline">
            {% for comic in comics %}
                {% include "comic/block.html.twig" with {'displayAuthor': 1, 'small': ((loop.index0 >2) ? 1 : 0), 'color': cycle(['odd', ''], loop.index0)} %}
            {% endfor %}
        </div>
    </section>
{% endblock body %}