{% extends "layout.html.twig" %}
{% block title %}Toutes les BDs du jour, les BDs les plus drôles, les plus pertinentes chaque jour{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            <li>
                <a href="{{ url('comics') }}">Toutes les BDs</a>
            </li>
            <li class="is-active" aria-current="page"><a href="#">{% trans %}Les BDs du jour{% endtrans %}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <section class="page">
        <h2 class="title is-size-3">La BD du jour d'aujourd'hui !</h2>

        <div class="columns is-multiline">
            {% include "comic/block_boxes.html.twig" with { 'boxes': comics.0.pages.0.boxes|slice(0, 3)} %}
        </div>
    </section>
    <section class="author">
        {% include "comic/block_infos.html.twig" with {'comic': comics.0, 'isDayComic': 1} %}
    </section>

    <hr />
    <h1 class="title title-gold">Toutes les BDs du jour</h1>

    <section class="page comics">
        <div class="columns is-multiline">
            {% for comic in comics|slice(1) %}
                {% include "comic/block.html.twig" with {'displayAuthor': 1, 'small': ((loop.index0 >2) ? 1 : 0), 'color': cycle(['odd', ''], loop.index0)} %}
            {% endfor %}
        </div>
    </section>
{% endblock body %}