{% extends "layout.html.twig" %}

{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            <li class="is-active" aria-current="page">{% trans %}All charactes{% endtrans %}</li>
        </ul>
    </nav>
{% endblock %}

{% block body %}

{% endblock body %}