{% extends "layout.html.twig" %}
{% block title %}Tous les persos | Boomz!{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url('homepage') }}">
                    <span class="icon is-small">{% include "/svg/home.html.twig" %}</span>
                    <span>BOOMMZ!</span>
                </a>
            </li>
            <li class="is-active" aria-current="page"><a href="#">{% trans %}Tous les persos{% endtrans %}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <h1 class="title">Tous les persos</h1>
    {% for persona in personas %}
        <img src="{{ persona.url }}" title="{{ persona.name }}" />
    {% endfor %}
{% endblock body %}