{% extends "layout.html.twig" %}

{% block body %}
    <h1 class="title">{% trans %}Create Character{% endtrans %}</h1>

    {{ form_start(form) }}

    <div id="boommzcreator">
        <div class="actions actionsg">
            <div class="subc">
                <div class="button is-light sex" data-src="/persona/creator/men/ID.png">
                    {% include "/svg/male.html.twig" %}
                </div>
                <div class="button is-light sex on" data-src="/persona/creator/women/ID.png">
                    {% include "/svg/female.html.twig" %}
                </div>
                <div class="button is-light color on" data-color="0">
                    <div class="color-0"></div>
                </div>
                <div class="button is-light color" data-color="1">
                    <div class="color-1"></div>
                </div>
            </div>
        </div>

        <div class="actions">
            <div class="sub" title="{% trans %}Choose hair{% endtrans %}" id="hair" data-max="21" data-num="1"
                 data-sub="3"
                 data-src="/persona/creator/hair/ID.png">
                <div class="button is-light previous is-hidden-mobile">
                    {% include "/svg/previous.html.twig" %}
                </div>
                <div class="button is-light img next">
                    <img/>
                </div>
                <div class="button is-light next">
                    {% include "/svg/next.html.twig" %}
                </div>
            </div>
            <div class="sub" title="{% trans %}Choose eyes{% endtrans %}" id="eyes" data-max="24" data-num="1"
                 data-sub="12"
                 data-src="/persona/creator/eyes/ID.png">
                <div class="button is-light previous is-hidden-mobile">
                    {% include "/svg/previous.html.twig" %}
                </div>
                <div class="button is-light img next">
                    <img/>
                </div>
                <div class="button is-light next">
                    {% include "/svg/next.html.twig" %}
                </div>
            </div>
            <div class="sub" title="{% trans %}Choose nose{% endtrans %}" id="nose" data-max="7"
                 data-num="1"
                 data-sub="3"
                 data-src="/persona/creator/nose/ID.png">
                <div class="button is-light previous is-hidden-mobile">
                    {% include "/svg/previous.html.twig" %}
                </div>
                <div class="button is-light img next">
                    <img/>
                </div>
                <div class="button is-light next">
                    {% include "/svg/next.html.twig" %}
                </div>
            </div>

            <div class="sub" title="{% trans %}Choose mouth{% endtrans %}" id="mouth" data-max="23"
                 data-num="1"
                 data-sub="2"
                 data-src="/persona/creator/mouth/ID.png">
                <div class="button is-light previous is-hidden-mobile">
                    {% include "/svg/previous.html.twig" %}
                </div>
                <div class="button is-light img next">
                    <img/>
                </div>
                <div class="button is-light next">
                    {% include "/svg/next.html.twig" %}
                </div>
            </div>
        </div>
        <div id="persona">
            <img src="/persona/creator/women/0000.png" class="persona" />
        </div>

        <div class="actions">
            <div class="sub" title="{% trans %}Choose hat{% endtrans %}" id="hat" data-max="10" data-num="0"
                 data-sub="3"
                 data-src="/persona/creator/hat/ID.png">
                <div class="button is-light previous is-hidden-mobile">
                    {% include "/svg/previous.html.twig" %}
                </div>
                <div class="button is-light img next">
                    <img/>
                </div>
                <div class="button is-light next">
                    {% include "/svg/next.html.twig" %}
                </div>
            </div>
            <div class="sub" title="{% trans %}Choose vest{% endtrans %}" id="vest" data-max="11" data-num="0"
                 data-src="/persona/creator/vest/ID.png">
                <div class="button is-light previous is-hidden-mobile">
                    {% include "/svg/previous.html.twig" %}
                </div>
                <div class="button is-light next">
                    <img/>
                </div>
                <div class="button is-light next">
                    {% include "/svg/next.html.twig" %}
                </div>
            </div>

            <div class="sub" title="{% trans %}Choose top{% endtrans %}" id="top" data-max="24" data-num="0"
                 data-src="/persona/creator/top/ID.png">
                <div class="button is-light previous is-hidden-mobile">
                    {% include "/svg/previous.html.twig" %}
                </div>
                <div class="button is-light next">
                    <img/>
                </div>
                <div class="button is-light next">
                    {% include "/svg/next.html.twig" %}
                </div>
            </div>

            <div class="sub" title="{% trans %}Choose trousers{% endtrans %}" id="trousers" data-max="28"
                 data-num="0"
                 data-src="/persona/creator/trousers/ID.png">
                <div class="button is-light previous is-hidden-mobile">
                    {% include "/svg/previous.html.twig" %}
                </div>
                <div class="button is-light next">
                    <img/>
                </div>
                <div class="button is-light next">
                    {% include "/svg/next.html.twig" %}
                </div>
            </div>
        </div>

    <div class="field is-grouped is-grouped-centered">
    <div class="control">
        <button class="button is-primary is-clearfix is-medium">{% trans %}Submit{% endtrans %}</button>
    </div></div>
    </div>

    {{ form_end(form) }}

    <div class="has-text-centered">
    {% for persona in app.user.personas %}
        <img src="{{ persona.url }}" />
    {% endfor %}
    </div>

{% endblock %}