{% extends "layout.html.twig" %}

{% block body %}

    {% if dayComics %}
        <section class="page">
            <h2 class="title is-size-3">La BD du jour d'aujourd'hui !</h2>

            <div class="columns is-multiline">
                {% include "comic/block_boxes.html.twig" with { 'boxes': dayComics.0.pages.0.boxes|slice(0, 3)} %}
            </div>
        </section>
        <section class="author">
            {% include "comic/block_infos.html.twig" with {'comic': dayComics.0, 'isDayComic': 1} %}
        </section>

        <hr />

        <h2 class="title is-size-4 title-gold">Les BDs du jour précédentes</h2>
        <section class="page comics">
            <div class="columns is-multiline">
                {% for comic in dayComics|slice(1, 3) %}
                    {% include "comic/block.html.twig" with {'displayAuthor': 1, 'color': cycle(['odd', ''], loop.index0)} %}
                {% endfor %}
            </div>
        </section>

        <div class="link-more">
            <a href="{{ url('day_comics') }}">Toutes les BDs du jour</a>
        </div>
    {% endif %}


    <h2 class="title is-size-4 title-green">Les dernières BDs</h2>
    <section class="page comics">
        <div class="columns is-multiline">
            {% for comic in lastComics %}
                {% include "comic/block.html.twig" with {'displayAuthor': 1, 'small': 1, 'color': cycle(['odd', ''], loop.index0)} %}
            {% endfor %}
        </div>
    </section>
    <div class="link-more green">
        <a href="{{ url('comics') }}">Toutes les BDs</a>
    </div>

{% endblock body %}
