@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.tabbar {
    background-color: #67c57e;
    position: fixed;
    bottom: 0;
    z-index: 100;
}
.tabbar ul {
    list-style: none;
}
.tabbar li {
    display: inline-block;
    padding: 5px;
}
.tabbar svg {
    color: #fafafa;
    height: 2em!important;
    width: 2em!important;
}
.breadcrumb a {
    color: #67c57e;
}
.breadcrumb a:hover {
    color: #266a38;
}
.breadcrumb li + li::before {
    color: #84a08b;
}
.hero-head {
    background-color: #67c57e;
    border-bottom: 4px solid #3ea556;
}
.navbar-item img {
    max-height: 5rem;
}
.tabs li a {
    border: 1px solid #67c57e;
    border-radius: 7px;
    margin: 0 4px;
}
.tabs li.is-active a {
    border: 1px solid #3ea556;
    color: #4baf63;
    background-color: #fff;
}
.tabs li a:hover {
    background-color: #b4eac1;
    border: solid 1px #c2eacd;
}
.tabs li.is-active a {
    background-color: #fff;
}
.page {
    background-color: #FAF3E9;
    padding: 20px;
    display: block;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
}
.page .column {
    height: 200px;
    padding: 0.30rem;
    position: relative;
}
.page .column.h-1 {
    height: 250px;
}
.page .column.h-2 {
    height: 280px;
}
.page .column.h-3 {
    height: 320px;
}
.page .column .ccolumn {
    background-color: #ffffff;
    background-size: cover;
    background-position: bottom;
    border-radius: 755px 15px 225px 10px/10px 625px 10px 255px;
    border: solid 3px #4f4f4f;
    height: 100%;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.page .column.c-1 .ccolumn {
    border-radius: 10px 625px 10px 255px/755px 15px 225px 10px;
}
.page .column.c-2 .ccolumn {
    border-radius: 455px 15px 725px 10px/10px 425px 10px 655px;
}
.page .column .ccolumn blockquote {
    bottom: 0;
    display: block;
    position: absolute;
}
.page .column .ccolumn blockquote.bubble {
    bottom: 83px;
    max-width: 44%;
    min-width: 115px;
    text-align: center;
}
.bubble {
    background: white;
    border: 3px solid black;
    border-radius: 10px;
    font-family: "Permanent Marker";
    padding: 2px;
}
.bubble:before {
    content: '';
    position: absolute;
    bottom: -30px;
    height: 30px;
    width: 40px;
}
.bubble.left:before {
    border-radius: 0 0 100%;
    box-shadow: -2px -2px 0 0 #000 inset, -14px 0 0 0 #fff inset, -16px -2px 0 0 #000 inset;
    left: 50px;
}
.bubble.right:before {
    border-radius: 0 0 0 100%;
    box-shadow: 2px -2px 0 0 #000 inset, 14px 0 0 0 #fff inset, 16px -2px 0 0 #000 inset;
    right: 50px;
}
.bubble.think:before {
    height: 3px;
    width: 3px;
    bottom: -14px;
    border-radius: 100%;
    background: #fff;
}
.bubble.think.left:before {
    left: 80px;
    box-shadow: 0 0 0 4px white, 0 0 0 7px black, -14px 12px 0 3px white, -14px 12px 0 5px black, -25px 17px 0 1px white, -25px 17px 0 3px black;
}
.bubble.think.right:before {
    right: 80px;
    box-shadow: 0 0 0 4px white, 0 0 0 7px black, 14px 12px 0 3px white, 14px 12px 0 5px black, 25px 17px 0 1px white, 25px 17px 0 3px black;
}
.bubble.yell {
    font-weight: bold;
}
.bubble.yell:before {
    height: 0px;
    width: 0px;
    bottom: -8px;
    border-radius: 0;
    background: #fff;
}
.bubble.yell:after {
    content: '';
    position: absolute;
    bottom: -32px;
    height: 16px;
    width: 26px;
}
.bubble.yell.left:before {
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
    left: 75px;
    box-shadow: 0 -3px 0 5px white, 0 0 0 5px white, 0 5px 0 5px white, 8px 5px 0 5px white, 16px 5px 0 5px white, 24px 5px 0 5px white,  0 0 0 8px black, 0 5px 0 8px black, 8px 5px 0 8px black, 16px 5px 0 8px black, 24px 5px 0 8px black;
}
.bubble.yell.left:after {
    border-radius: 0 0 60%;
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
    box-shadow: -3px -2px 0 0 #000 inset, -14px 0 0 0 #fff inset, -17px -2px 0 0 #000 inset;
    left: 65px;
}
.bubble.yell.right:before {
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
    right: 75px;
    box-shadow: 0 -3px 0 5px white, 0 0 0 5px white, 0 5px 0 5px white, -8px 5px 0 5px white, -16px 5px 0 5px white, -24px 5px 0 5px white, 0 0 0 8px black, 0 5px 0 8px black, -8px 5px 0 8px black, -16px 5px 0 8px black, -24px 5px 0 8px black;
}
.bubble.yell.right:after {
    border-radius: 0 0 0 60%;
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
    box-shadow: 3px -2px 0 0 #000 inset, 14px 0 0 0 #fff inset, 17px -2px 0 0 #000 inset;
    right: 65px;
}
.bubble footer {
    bottom: -86px;
    position: absolute;
}
.bubble.left footer {
    left: 0;
}
.bubble.right footer {
    right: 0;
}

.column div blockquote:first-child {
    left: 20px;
}
.column div blockquote.b-1 {
    right: 33%;
}
.column div blockquote:last-child {
    right: 20px;
}
.fs-18 {
    font-size: 18px;
}
.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}
.fs-12 {
    font-size: 12px;
}

.comic-title {
    display:flex;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.65);
    text-align: center;
    z-index: 30;
    transition: all .05s ease-out;
}
.comic-title .ctitle {
    background-color: rgba(103, 197, 126, 0.75);
    display: inline-block;
    margin: auto;
    padding: 15px 10px;
    text-align: center;
    transition: all .05s ease-out;
    width: 80%;
}
.comic-title:hover {
    background-color: rgba(255, 255, 255, 0.85);
}
.comic-title:hover .ctitle {
    background-color: rgba(103, 197, 126, 0.85);
}
.comic-title:hover .ctitle {
    padding: 30px 40px;
}
.comic-title .ctitle .title {
    text-transform: capitalize;
}

.page .column .ccolumn blockquote.bubble.alone {
    left: 0;
    right: 0;
    margin: auto;
    max-width: 60%;
}