.page.edit {
    margin-bottom: 10px;
    padding-bottom: 70px;
}
.page.edit .column.on div {
    border:solid 5px red;
}
.page.edit .column div#actionsBox {
    border: solid 1px #bcbab7;
    border-radius: 7px;
    height: auto;
    margin-top: 4px;
    padding: 5px;
    position: absolute;
    z-index: 10;
}
.page.edit .column div#actionsBox span {
    width: 50px;
}

.page .column {
    transition: all 1s ease-out;
}

.bubble textarea {
    border: 0;
    font-family: "Permanent Marker";
    font-size: 16px;
    outline: none;
}