.page.edit {
    margin-bottom: 10px;
    padding-bottom: 130px;
}
.page.edit .column.on .ccolumn {
    border:solid 5px #7eb7a6;
}
.actions {
    background-color: #ffffff;
    border: solid 1px #76a094;
    border-radius: 7px;
    display: inline-block;
    height: auto;
    padding: 4px;
}
.actions .button {
    text-align: center;
    width: 40px;
}
.actions .button svg {
    width: 22px;
    height: 22px;
    overflow: visible;
}
.actions .button:hover svg {
    color: #76a094;
}
#actions {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 5px 5px;
    position: absolute;
    z-index: 10;
    padding: 5px 5px 10px 5px;
    right: 0.30em;
    left: 0.30em;
}

#actionsLine {
    position: absolute;
    right: 5px;
}
#actionsPersona {
    position: absolute;
    height: 55px;
    margin-top: 4px;
    padding: 4px;
    right: 4px;
    left: 6px;
    bottom: -49px;
    z-index: 20;
}

#actionsPersona #slidePersona {
    height: 47px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#slidePersona .slider-item {
    cursor: pointer;
    height: 50px;
    width: 59px!important;
    outline: 0;
}
#slidePersona .slider-navigation-next,
#slidePersona .slider-navigation-previous {
    border-radius: 0;
    width: 20px;
    top: 0;
    margin-top: 0;
    bottom: 0;
    height: 50px;
    z-index: 100;
}
#slidePersona .slider-navigation-next svg,
#slidePersona .slider-navigation-previous svg {
    width: 10px;
}
#slidePersona .slider-navigation-next:hover svg,
#slidePersona .slider-navigation-previous:hover svg {
    color: #76a094;
}
#slidePersona .slider-pagination {
    display: none;
}

.page.edit .column {
    transition: all 1s ease-out;
}
.page.edit .column blockquote {
    cursor: pointer;
}
.page.edit .column blockquote textarea {
    display: none;
}

.page.edit .column blockquote.bubble textarea {
    border: 0;
    display: block;
    font-family: "Permanent Marker";
    outline: none;
    overflow: hidden;
    resize: none;
    text-align: center;
    width: 100%;
}
.page.edit .column blockquote.bubble textarea:focus::placeholder {
    color: transparent;
}
.bubble {
    z-index: auto;
}
.bubble.on {
    border-color: #7eb7a6;
    z-index: 10;
}
.bubble.on.left:before {
    box-shadow: -2px -2px 0 0 #7eb7a6 inset, -14px 0 0 0 #fff inset, -16px -2px 0 0 #7eb7a6 inset;
}
.bubble.on.right:before {
    box-shadow: 2px -2px 0 0 #7eb7a6 inset, 14px 0 0 0 #fff inset, 16px -2px 0 0 #7eb7a6 inset;
}
.bubble.on.think.left:before {
    box-shadow: 0 0 0 4px white, 0 0 0 7px #7eb7a6, -14px 12px 0 3px white, -14px 12px 0 5px #7eb7a6, -25px 17px 0 1px white, -25px 17px 0 3px #7eb7a6;
}
.bubble.on.think.right:before {
    box-shadow: 0 0 0 4px white, 0 0 0 7px #7eb7a6, 14px 12px 0 3px white, 14px 12px 0 5px #7eb7a6, 25px 17px 0 1px white, 25px 17px 0 3px #7eb7a6;
}
.bubble.on.yell.left:before {
    box-shadow: 0 -3px 0 5px white, 0 0 0 5px white, 0 5px 0 5px white, 8px 5px 0 5px white, 16px 5px 0 5px white, 24px 5px 0 5px white, 0 0 0 8px #7eb7a6, 0 5px 0 8px #7eb7a6, 8px 5px 0 8px #7eb7a6, 16px 5px 0 8px #7eb7a6, 24px 5px 0 8px #7eb7a6;
}
.bubble.on.yell.left:after {
    box-shadow: -3px -2px 0 0 #7eb7a6 inset, -14px 0 0 0 #fff inset, -17px -2px 0 0 #7eb7a6 inset;
}
.bubble.on.yell.right:before {
    box-shadow: 0 -3px 0 5px white, 0 0 0 5px white, 0 5px 0 5px white, -8px 5px 0 5px white, -16px 5px 0 5px white, -24px 5px 0 5px white, 0 0 0 8px #7eb7a6, 0 5px 0 8px #7eb7a6, -8px 5px 0 8px #7eb7a6, -16px 5px 0 8px #7eb7a6, -24px 5px 0 8px #7eb7a6;
}
.bubble.on.yell.right:after {
    box-shadow: 3px -2px 0 0 #7eb7a6 inset, 14px 0 0 0 #fff inset, 17px -2px 0 0 #7eb7a6 inset;
}

#circle {
    margin-top: 6px;
}
#nbCar {
    position: absolute;
    font-size: 13px;
    color: #EC7532;
}

#clone {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    width: 280px;
    bottom: 0;
    padding: 20px;
    border: 5px solid #fff;
}
