{% if comic.author %}
<div class="media">
    <div class="media-left">
        <figure class="image circle">
            <img src="{{ comic.author.avatar.urlHead }}"/>
        </figure>
    </div>
    <div class="media-content">
        <h2 class="is-marginless"><a href="{{ url('author', comic.author.routeParams) }}"
                                     class="subtitle has-text-dark">{{ comic.author.username }}</a></h2>
        <span class="has-text-grey	is-size-7">{{ comic.dateCreation|localizeddate('long', 'short') }}</span>
    </div>
</div>
{% endif %}
