{% extends "layout.html.twig" %}

{% block title %}{{ comic.title }} - BOOMMZ!{% endblock title %}
{% block metas %}
    <link rel="canonical" href="{{ url('comic', comic.routeParams) }}">
{% endblock metas %}
{% block body %}
    <style>
        .navbar, .tabbar {
            display: none;
        }

        section.hero, .container {
            width: 450px;
            max-width: 450px;
        }

        .page .column {
            display: block;
            width: 100%;
            position: relative;
        }
    </style>

    <section class="page">
        <div class="columns is-multiline">
            {% include "comic/block_boxes.html.twig" with {'boxes': comic.pages.0.boxes|slice(0, 3)} %}
        </div>
    </section>
    <div style="width: 100%;text-align: center">
        <img src="{{ asset('/build/images/logo.png') }}">
    </div>
{% endblock body %}
